#background {
    margin-top: 0;
    background: url(images/kace-rodriguez-p3OzJuT_Dks-unsplash.jpg) no-repeat;
    background-size: cover;
    height: 1111px;
    max-height: 1111px;
}

h5 {
    font-size: 22px;
    padding-bottom: 20px;
}

#background-footer {
    margin-bottom: 0;
    background: url(images/kace-rodriguez-p3OzJuT_Dks-unsplash1.jpg) no-repeat;
    background-size: cover;
}


a {
    text-decoration: none;
}

.nav-color {
    background-color: burlywood;
    transition: all ease-in-out 0.3s;
}

.bg-transparent {
    transition: all ease-in-out 0.3s;
}

.btn-button {
    border: 3px solid white;
    border-radius: 40px;
    color: white;
    background-color: transparent;
}

.btn-button:hover {
    background-color: white;
    color: black;
}

.card {
    display: flex;
    position: relative;
    overflow: hidden;
    border: none;
    z-index: 1;
}

card img {
    transform: scale(1);
    transition: all 0.3s ease-out;
}

.image-caption {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(5, 5, 5, .7);
    top: 1000px;
    transition: all 0.7s ease-in;
}

.image-caption p {
    text-align: center;
    color: white;
    position: relative;
    top: 50px;
    text-shadow: 1px 1px rgba(5, 5, 5, .5);
}

.card:hover .image-caption {
    top: 0;
    transition: all 0.7s ease-out;
}

.card:hover img {
    transform: scale(1.1);
    transition: all 0.3s ease-in;
}

